<h5>{{ title }}</h5>
<div class = "row">
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Not Listesi</h5>
    <h6 class="card-title">Not girişlerini görüntülemek için tıklayınız.</h6><br>
    <button class="btn btn-primary" (click)="getNotlar()">Listele</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Devamsızlık Listesi</h5>
    <h6 class="card-title">Devamsızlık girişlerini görmek için tıklayınız.</h6><br>
    <button class="btn btn-primary" (click)="getDevamsizlik()">Listele</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Ders Listesi</h5>
    <h6 class="card-title">Kayıtlı olduğunuz dersleri görmek için tıklayınız.</h6><br>
    <button class="btn btn-primary" (click)="getDersler()">Listele</button>
  </div>
</div>
</div>
