<div class="layout">
  <main class="layout-main px-4">
    <h5>Ana Menü</h5>
  </main>
   <aside class="layout-sidebar border-end">
    <ul class="list-group border-0" style="width:250px;">
      <li class="list-group-item list-group-item-action">
        <a href="#">Profil</a>
      </li>
            <li class="list-group-item list-group-item-action">
        <a href="#">Öğrenciler</a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="#">Akademisyenler</a>
      <li class="list-group-item list-group-item-action">
        <a href="#">Ayarlar</a>
      </li>
    </ul>
  </aside>
</div>