<h5>{{ title }}</h5>
<div class = "row">
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Program</h5>
    <h6 class="card-title">Program ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addProgram()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteProgram()">Sil</button>
    <button class="btn btn-primary" (click)="updateProgram()">Güncelle</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Fakülte</h5>
        <h6 class="card-title">Fakülte ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addFakulte()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteFakulte()">Sil</button>
    <button class="btn btn-primary" (click)="updateFakulte()">Güncelle</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Bölüm</h5>
        <h6 class="card-title">Bölüm ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addBolum()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteBolum()">Sil</button>
    <button class="btn btn-primary" (click)="updateBolum()">Güncelle</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Ders</h5>
        <h6 class="card-title">Ders ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addDers()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteDers()">Sil</button>
    <button class="btn btn-primary" (click)="updateDers()">Güncelle</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Not</h5>
    <h6 class="card-title">Not ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addNot()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteNot()">Sil</button>
    <button class="btn btn-primary" (click)="updateNot()">Güncelle</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Devamsızlık</h5>
        <h6 class="card-title">Devamsızlık ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addDevamsizlik()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteDevamsizlik()">Sil</button>
    <button class="btn btn-primary" (click)="updateDevamsizlik()">Güncelle</button>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Değerlendirme</h5>
        <h6 class="card-title">Değerlendirme ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <button class="btn btn-primary" (click)="addDegerlendirme()">Ekle</button>
    <button class="btn btn-primary" (click)="deleteDegerlendirme()">Sil</button>
    <button class="btn btn-primary" (click)="updateDegerlendirme()">Güncelle</button>
  </div>
</div>
</div>