<h5>{{ title }}</h5>
<div class = "row">
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Program</h5>
    <h6 class="card-title">Program ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Fakülte</h5>
        <h6 class="card-title">Fakülte ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Bölüm</h5>
        <h6 class="card-title">Bölüm ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Ders</h5>
        <h6 class="card-title">Ders ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Not</h5>
        <h6 class="card-title">Not ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Devamsızlık</h5>
        <h6 class="card-title">Devamsızlık ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h5 class="card-title">Değerlendirme</h5>
        <h6 class="card-title">Değerlendirme ekleme, silme ve güncelleme işlemleri için seçim yapınız.</h6><br>
    <a href="#" class="btn btn-primary">Ekle</a>
    <a href="#" class="btn btn-primary">Sil</a>
    <a href="#" class="btn btn-primary">Güncelle</a>
  </div>
</div>
</div>